body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

/* Container for the whole page */
.home-container {
  flex: 1;
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  overflow: hidden; /* Prevent overflow when resizing */
}

/* Chat container on the right */
.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff; /* Example color, adjust as needed */
  box-sizing: border-box;
}

/* Chat box */
.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  overflow-y: auto; /* Allow vertical scrolling if there are too many messages */
  background-color: #ffffff; /* Example color, adjust as needed */
  box-sizing: border-box;
  align-self: center;
  width: 100%;
}


/* Form at the bottom */
.bot-form {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  background-color: transparent; /* Example color, adjust as needed */
  border-radius: 5px;
  box-sizing: border-box;
  padding-bottom: 30px;
  margin: 3px;
}

.bot-form input[type="text"] {
  padding: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
  width: 60%;
  border-radius: 25px;
  background-color: #f9f9f9;
}

.bot-form button {
  background-color: blue; /* Example color, adjust as needed */
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.bot-form button:hover {
  background-color: darkblue; /* Example color, adjust as needed */
}

.bot-form button:disabled {
  background-color: grey; /* Grayed out color */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */
}

.bot-form button.disabled {
  background-color: grey; /* Grayed out color */
  color: #ccc; /* Optional: lighter text color for contrast */
}

.thread-title {
  text-align: left;
  padding: 30px;
  position: absolute;
}